.add-icn {
    color: #71319e;
    background-color: #fff;
    border-radius: 100px !important;
    width: 35px;
    text-align: center;
    margin: auto 0;
    display: inline-block;
    font-weight: 600;
    font-size: xx-large;
    line-height: 1;
    height: 35px;
}

.section-title {
    color: #71319e;
    font-weight: bold;
}

// .modal {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 2050 !important;
//     display: none;
//     overflow: hidden;
//     -webkit-overflow-scrolling: touch;
//     outline: 0;
// }

// .cdk-overlay-pane {
//     position: absolute;
//     pointer-events: auto;
//     box-sizing: border-box;
//     z-index: 2000 !important;
//     display: flex;
//     max-width: 100%;
//     max-height: 100%;
// }

//  .cdk-overlay-container mat-datepicker-content{
//     z-index:4000 !important;
//   }

