.add-icn {
    color: #71319e;
    background-color: #fff;
    border-radius: 100px !important;
    width: 35px;
    text-align: center;
    margin: auto 0;
    display: inline-block;
    font-weight: 600;
    font-size: xx-large;
    line-height: 1;
    height: 35px;
}

.section-title {
    color: #71319e;
    font-weight: bold;
}