<div class="container text-center">
    <div class="row mt-5 mb-5 text-white">
        <div class="col-3 align-self-center">
            <h2 class="mb-0 pb-0">Employees</h2>
            <span *ngIf="+total > 1; else singular">There are {{total}} employees</span>
            <ng-template #singular><span>There is {{total}} employee</span></ng-template>
        </div>
        <div class="col-5 mt-2">
            <input name="query" type="text" class="form-control text-bg-dark" [(ngModel)]="query" (keyup)="onSearch()" placeholder="Search"/>
        </div>
        <div class="col-auto mt-3">Filter by</div>
        <div class="col mt-2">
            <button class="btn text-white rounded-pill" (click)="onAdd()">
                + New Employee
            </button>
        </div>
    </div>

    <div class="row list-item align-middle p-4 text-white" *ngFor="let item of items; let i = index">
      <div class="col-4 text-start" [style.height]="'32px'">
        <div class="item-count">{{i+1}}</div>
        <div class="ms-4 d-inline-block">{{item.first_name | titlecase}}</div>
      </div>
      <div class="col-3 text-start">
        {{item.last_name | titlecase}}
      </div>
      <div class="col-3">
        {{item.contact_number }}
      </div>
    </div>
    <div *ngIf="items.length === 0">
        <img src="assets/images/icon.jpg" />
    </div>
  </div>
  <ng-container appSlot></ng-container>