/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url("bootstrap-icons/font/bootstrap-icons.css");
body {
    background-color: black !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .mat-datepicker-content .mat-calendar {
//     z-index: 99999999 !important;
// }

.cdk-overlay-container {
    z-index:2000 !important;
  }